*{
    margin: 0;
    padding: 0;
}
nav{
    height: 46px;
    display: flex;
    background-color: rgba(16, 16, 98, 1) ;
}
nav div{
    display: flex;
    padding-left: 20px;
    padding-top: 1px;
    list-style: none;
    font-size: 24px;
}
nav div a{
    color: white;
    text-decoration: none;
}
.Cdropbtn {
    background-color: rgba(16, 16, 98, 1) ;
    color: white;
    font-size: 24px;
    border: none;
    padding: 8px 43px;
}
  
.Cdropdown {
    position: relative;
    display: inline-block;
  }
  
.Cdropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(16, 16, 98, 1) ;
    min-width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.Cdropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 20px;
}
.Cdropdown-content a:hover {
    color: white;
    padding: 12px 14px;
    text-decoration: underline;
    display: block;
    font-size: 22px;
}
  
.Cdropdown-content a:hover {background-color: rgba(16, 16, 98, 1) ;}
  
.Cdropdown:hover .Cdropdown-content {display: block;}
  
.Cdropdown:hover .Cdropbtn {background-color: rgba(16, 16, 98, 1) ;}

#logo{
    height: 39px;
    /* filter: hue-rotate(147deg); */
    border-radius: 3px;
}
.search input{
    width: 401px;
    height: 34px;
    border: 2px solid rgb(107, 107, 246) ;
    border-radius: 10px;
    margin: 4px 45px;
    text-align: center;
 }
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.searchbtn{
    position: relative;
    right: 81px;
    top: 8px;
    height: 33px;
    background-color: rgb(107, 107, 246);
    padding: 2px;
    border-radius: 6px;
}
.cart{
    color: white;
    position: relative;
    right: -16px;
    top: 6px;
}
.cart:hover{
    cursor: pointer;
}
pre{
    display: flex;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 11px 0px;
}
pre:hover{
    cursor: pointer;
}
main{
    background-color: gainsboro;
}
.showcaserow1{
    display: flex;
    position: relative;
    bottom: 44px;
}
.showcaserow2{
    display: flex;
    position: relative;
    bottom: 144px;
}
.DEALS{
    width: 100vw;
    /* filter: hue-rotate(303deg); */
    height: 254px;
    margin-top: 1px;
}
span img{
    height: 250px;
    width: 264px;
    padding: 10px 0px;
    transition: all ease 0.5s;
}
span p{
    font-size: 22px;
    color: black;
    position: relative;
    right: -100px;
}
.showcasetop a{
    text-decoration: none;
}
.showcasetop{
    /* border: 1px solid rgb(107, 107, 246); */
    height: 294px;
    width: 300px;
    margin: 66px 24px;
    padding: 6px 0px;
    overflow: hidden;
    background-color: white;
}
.showcasetop:hover img{
    scale: 1.1;
}
.showcasebottom{
    /* border: 1px solid rgb(107, 107, 246); */
    height: 294px;
    width: 300px;
    margin: 66px 24px;
    padding: 6px 0px;
    overflow: hidden;
}
.showcasebottom:hover img{
    scale: 1.1;
}